@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{ Layout = null; }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styleDangNhap.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/fontawesome-pro-5.12.0-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="header w-100 d-flex bg-dark text-white p-4">
        <span class="ml-2"></span>
    </div>
    <div class="login d-flex">
        <form method="POST" asp-controller="DangKy" asp-action="DangKy">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control pl-4" id="username" placeholder="Tên tài khoản" name="Tentk" autocomplete="off" required>
                    <i class="fas fa-user-alt icon1"></i>
                    @if (ViewBag.errUsername != null)
                    {
                        <span class="ml-2" style="color: red;font-size:14px">@ViewBag.errUsername</span>}

                </div>
                <div class="form-group col-md-6">
                    <input type="password" class="form-control pl-4" id="password" placeholder="Mật khẩu" name="Password" autocomplete="off" required>
                    <i class="fas fa-key icon2"></i>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control w-100" id="HoTen" placeholder="Họ tên" name="HoTen" autocomplete="off" required>
            </div>

            <div class="form-group">
                <input type="text" class="form-control w-100" id="GioiTinh" placeholder="Giới Tính" name="GioiTinh" autocomplete="off" required>
            </div>

            <div class="form-group">
                <input type="email" class="form-control w-100" id="Email" placeholder="Email" name="Email" autocomplete="off" required>
            </div>

            <div class="form-group">
                <input type="text" class="form-control w-100" id="" placeholder="Địa chỉ" name="Diachi" autocomplete="off" required>
            </div>

            <div class="form-group">
                <input type="text" class="form-control w-100" id="Tenduong" placeholder="Tên Đường" name="Tenduong" autocomplete="off" required>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="sodt" placeholder="Số điện thoại" name="sodt" autocomplete="off" required>
            </div>

            <div class="button d-flex">
                <button type="submit" class="btn">Tạo tài khoản</button>
            </div>
        </form>
    </div>
</body>
</html>
