@{ Layout = null; }
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/styleDangNhap.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/fontawesome-pro-5.12.0-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap" rel="stylesheet">
</head>
<body>

    <div class="header--nav">
        <div class="humberger__menu__logo">

            <a href="#"><img style="width:100px; height:90px " src="../img/logo.png" alt=""></a>
        </div>
    </div>
    <div class="login d-flex">

        <form method="POST" asp-controller="DangNhap" asp-action="DangNhap">
            <div class="form-group">
                <label for="Username"><i class="fas fa-user-alt"></i>&nbsp; User</label>
                <input type="text" class="form-control" id="Username" placeholder="Tên tài khoản" name="Tentk" autocomplete="off" required>
            </div>
            <div class="form-group">
                <label for="Password"><i class="fas fa-key"></i>&nbsp; Password</label>
                <input type="password" class="form-control" id="Password" placeholder="Mật khẩu" name="Password" required>
            </div>
            <div class="button d-flex">
                <button type="submit" class="btn">Đăng nhập</button>
                <a asp-action="DangKy" asp-controller="DangKy"><button type="button" class="btn ml-5">Tạo tài khoản</button></a>


                <a href="/taikhoan/dangky">
            </div>
            @if (ViewBag.error != null)
            {
                <div class="alert alert-danger mt-3" role="alert">
                    @ViewBag.error
                </div>}
        </form>
    </div>
</body>
</html>